# Ignore everything in this directory
*.DS_Store 
/server/target/
/server/.idea
/server/demo.iml
/server/group5.iml
/client/client.iml
/client/out
/client/.idea
/client/target
# Except this file
!.gitignore
