# Ignore everything in this directory
*.DS_Store 
.idea
/server/out/
/server/target/
/server/.idea
/server/demo.iml
/server/group5.iml
/client/client.iml
/client/out
/client/.idea
/client/target
/multiplayer-server/out
/multiplayer-server/target/
/executables

# Except this file
!.gitignore
